---
export interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<section class="container my-16">
  <div class="o-region__inner">
    <h1 class="h1 page-heading">{title}</h1>
    <p class="text-lg">{text}</p>
  </div>
</section>
